/*  your css code here. If applicable */

button{
	padding:20px 30px;
	border-radius:30px;
	background-color:orangered;
	color:white;
	font-weight:bold;
	font-size:18px;
}

.cen{
	text-align:center;
}
